BOX_AUTH_CONFIG=/var/run/box/box-jwt.json
QUARANTINE_FOLDER_ID=changeme
QUARANTINE_TEMPLATE=/etc/box-quarantine/quarantine-template.txt
QUARANTINE_CLEARED_LABEL=Released
QUARANTINE_LABEL=Quarantine
QUARANTINE_METADATA_TEMPLATE=quarantineMetadata
COLLECTOR_CONFIG=/config
POLL_INTERVAL_SEC=5
EVENT_FETCH_LIMIT=100
START_DATE=2026-01-01T00:00:00Z
ADMIN_LOGS_ONLY=false
EVENT_CACHE_TTL_HOURS=24
EVENT_CACHE_MAX=5000
PVC_SIZE=1Gi
BOX_CONFIG_JSON=/var/run/box/box-jwt.json
