POSTFIX_NAMESPACE=postfix
POSTFIX_IMAGE=localhost:32000/postfix-email-to-case:3.7.11-1
POSTFIX_IMAGE_TAG=3.7.11-1
POSTFIX_INCOMING_MAILBOX=inbound@example.com
POSTFIX_DESTINATION_MAILBOX=destination@example.net
