{
  "settings": {
    "cert": "mesh.johnkoepp.com",
    "port": 4430,
    "aliasPort": 443,
    "TLSOffload": true
  },
  "domains": {
    "": {
      "authStrategies": {
        "oidc": {
          "newAccounts": true,
          "issuer": "https://idp.johnkoepp.com/realms/homelab",
          "clientid": "meshcentral",
          "clientsecret": "REPLACE_WITH_KEYCLOAK_CLIENT_SECRET",
          "groups": {
            "required": [
              "mesh-admins",
              "mesh-users"
            ],
            "siteadmin": [
              "mesh-admins"
            ],
            "claim": "groups"
          }
        }
      }
    }
  }
}
