JENKINS_NAMESPACE=jenkins
JENKINS_HOSTNAME=jenkins.k8s.koeppster.lan
JENKINS_WEBHOOK_HOSTNAME=jenkins-hooks.johnkoepp.com
JENKINS_STORAGE_CLASS=kube-nfs
JENKINS_STORAGE_SIZE=20Gi
JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000

JENKINS_CONTROLLER_REPOSITORY=jenkins-controller
JENKINS_CONTROLLER_TAG=2.568.2-plugins-1
JENKINS_IMAGE=changeme.dkr.ecr.us-east-1.amazonaws.com/jenkins-controller:2.568.2-plugins-1

JENKINS_TOOLS_REPOSITORY=jenkins-tools
JENKINS_TOOLS_TAG=buildkit-0.26.2-tools-1
JENKINS_TOOLS_IMAGE=changeme.dkr.ecr.us-east-1.amazonaws.com/jenkins-tools:buildkit-0.26.2-tools-1
JENKINS_N8N_ECR_REPOSITORY=n8n
JENKINS_GITHUB_OWNER=changeme
JENKINS_GITHUB_REPOSITORY=kubernetes-sandbox

AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
AWS_DEFAULT_REGION=us-east-1
AWS_ACCOUNT_ID=changeme



GITHUB_USERNAME=changeme
GITHUB_TOKEN=changeme
GITHUB_WEBHOOK_SECRET=changeme
